@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /*Light theme*/
    :root {
        font-family: 'Poppins', 'ui-sans-serif';
        --primary-base: rgb(132, 94, 194);
        --primary-lighter: rgb(196, 147, 255);
        --secondary-base: rgb(255, 191, 0);
        --background-base: rgb(239, 239, 239);
        --background-accent: rgb(245, 245, 245);
        --background-text: rgb(36, 36, 36);
        --background-hover: rgb(224, 224, 224);
        --nav-text: rgb(36, 36, 36);
    /*    TODO: inactive color!!! (for checkbox)*/
    }

    :root[data-theme="dark"] {
        --primary-base: rgb(132, 94, 194);
        --primary-lighter: rgb(196, 147, 255);
        --secondary-base: rgb(255, 191, 0);
        --background-base: rgb(36, 36, 36);
        --background-accent: rgb(19, 19, 19);
        --background-text: rgb(239, 239, 239);
        --background-hover: rgb(52, 52, 52);
        --nav-text: rgb(239, 239, 239);
    }

    :root[data-theme="green"] {
        --primary-base: rgb(131, 187, 30);
        --primary-lighter: rgb(66, 134, 56);
        --secondary-base: rgb(241, 138, 56);
        --background-base: rgb(225, 250, 212);
        --background-accent: rgb(56, 89, 40);
        --background-text: rgb(36, 36, 36);
        --background-hover: rgb(104, 203, 126);
        --nav-text: rgb(239, 239, 239);
    }
}