@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /*Light theme*/
    :root {
        font-family: 'Poppins', 'ui-sans-serif';
        --primary-base: 132, 94, 194;
        --primary-lighter: 177, 112, 255;
        --secondary-base: 255, 191, 0;
        --background-base: 229, 229, 229;
        --background-accent: 245, 245, 245;
        --background-text: 36, 36, 36;
        --background-hover: 224, 224, 224;
        --nav-text: 36, 36, 36;
        /*    TODO: inactive color!!! (for checkbox) + snackbar + err*/
    }

    :root[data-theme="dark"] {
        --primary-base: 132, 94, 194;
        --primary-lighter: 177, 112, 255;
        --secondary-base: 255, 191, 0;
        --background-base: 36, 36, 36;
        --background-accent: 19, 19, 19;
        --background-text: 239, 239, 239;
        --background-hover: 52, 52, 52;
        --nav-text: 239, 239, 239;
    }

    :root[data-theme="green"] {
        --primary-base: 131, 187, 30;
        --primary-lighter: 66, 134, 56;
        --secondary-base: 241, 138, 56;
        --background-base: 225, 250, 212;
        --background-accent: 56, 89, 40;
        --background-text: 36, 36, 36;
        --background-hover: 104, 203, 126;
        --nav-text: 239, 239, 239;
    }

    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: var(--background-accent);
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: var(--primary-base);
        border-radius: 5px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: var(--primary-lighter);
    }
}
